{% extends '@SonataPage/PageAdmin/tree.html.twig' %}


{% block list_table %}
    <div class="col-xs-12 col-md-12">
        <div class="box box-primary">
            {# COMPO Запрет сайта выбора
            <div class="box-header">
                <h1 class="box-title">
                    {{ 'pages.tree_site_label'|trans({}, 'SonataPageBundle') }}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <strong class="text-info">
                                {%- if sites and sites|length > 0 -%}
                                    {% if currentSite %}
                                        {{ currentSite.name }}
                                    {% else %}
                                        {{ 'pages.label_no_site_selected'|trans({}, 'SonataPageBundle') }}
                                    {% endif %}
                                {%- else -%}
                                    {{ 'pages.label_no_sites'|trans({}, 'SonataPageBundle') }}
                                {%- endif -%}
                            </strong> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% for site in sites %}
                                <li>
                                    <a href="{{ admin.generateUrl('tree', { 'site': site.id }) }}">
                                        {% if currentSite and site.id == currentSite.id %}
                                            <span class="pull-right">
                                                <i class="fa fa-check"></i>
                                            </span>
                                        {% endif %}
                                        {{ site.name }}
                                    </a>
                                </li>
                            {% endfor%}
                        </ul>
                    </div>
                </h1>
            </div>
            #}
            <div class="box-content">
                {{ tree.pages(pages, admin, true) }}
            </div>
        </div>
    </div>
{% endblock %}

