{% extends '@SonataAdmin/standard_layout.html.twig' %}

 {% block tab_menu_navbar_header %}
     {% if _navbar_title is not empty %}
         <div class="navbar-header">
             <span class="navbar-brand">{{ _navbar_title|raw }}</span>
         </div>
     {% endif %}
 {% endblock %}

{% block side_bar_after_nav %}
    {# COMPO Ссылка на компанию под навигацией в админке #}
    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
        {% block side_bar_after_nav_content %}
            <a href="http://www.compo.ru" rel="noreferrer" target="_blank">www.compo.ru</a>
        {% endblock %}
    </p>
{% endblock %}

{% block body_attributes %}
    {% if (app.request.cookies.get('admin_sidebar_collapse', 0) == 1) %}
        class="sonata-bc skin-black fixed sidebar-collapse" data-collapse="1"
    {% else %}
        class="sonata-bc skin-black fixed" data-collapse="0"
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}

{% block sonata_breadcrumb %}
    {# COMPO Add hidden-sm #}
    <div class="hidden-xs hidden-sm">
        {% if _breadcrumb is not empty or action is defined %}
            <ol class="nav navbar-top-links breadcrumb">
                {% if _breadcrumb is empty %}
                    {% if action is defined %}
                        {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                            {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                            {%- set label = menu.label -%}
                            {%- if translation_domain is not same as(false) -%}
                                {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                            {%- endif -%}

                            {% if not loop.last %}
                                <li>
                                    {% if menu.uri is not empty %}
                                        <a href="{{ menu.uri }}">
                                            {% if menu.extra('safe_label', true) %}
                                                {{- label|raw -}}
                                            {% else %}
                                                {{- label -}}
                                            {% endif %}
                                        </a>
                                    {% else %}
                                        {{ label }}
                                    {% endif %}
                                </li>
                            {% else %}
                                <li class="active"><span>{{ label }}</span></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {{ _breadcrumb|raw }}
                {% endif %}
            </ol>
        {% endif %}
    </div>
{% endblock sonata_breadcrumb %}