{#
Базовый шаблон для всех страниц сайта
#}

{% set compo_core_settings = sylius_settings('compo_core_settings') %}

<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
{% block head %}
    <head {{ sonata_seo_head_attributes() }}>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ sonata_seo_title() }}

        {{ sonata_seo_metadatas() }}

        {% block stylesheets %}
            {% stylesheets
            '@sonata_front_vendor_core_css'
            output='assetic/sonata_front_vendor_core_css.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" media="all"/>
            {% endstylesheets %}

            {% stylesheets
            '@sonata_front_vendor_css'
            output='assetic/sonata_front_vendor_css.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" media="all"/>
            {% endstylesheets %}


            {% stylesheets
            '@sonata_front_css'
            output='assetic/sonata_front_css.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" media="all"/>
            {% endstylesheets %}
        {% endblock %}
    </head>
{% endblock %}

{% set body_class = app.request.get('_route') %}

{% if sonata_page.isEditor or ( app.user and is_granted('ROLE_PREVIOUS_ADMIN') ) %}
    {% set body_class = body_class ~ ' is-editor' %}
{% endif %}

{% block body %}
    <body class="{{ body_class }}">
        {% block header_admin %}
            {% include '@CompoCore/Block/header_admin.html.twig' %}
        {% endblock %}

        {% block container %}
            <div id="container" class="container-fluid container-max-width">
                {% block header %}
                    {% include '@CompoCore/Block/header.html.twig' %}
                {% endblock %}

                {% block layout %}
                {% endblock %}

                {% block footer %}
                    {% include '@CompoCore/Block/footer.html.twig' %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

            {% javascripts
            '@sonata_front_vendor_core_js'
            output='assetic/sonata_front_vendor_core_js.js'
            %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}

            {% javascripts
            '@sonata_front_vendor_js'
            output='assetic/sonata_front_vendor_js.js'
            %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}

            {% javascripts
            '@sonata_front_js'
            output='assetic/sonata_front_js.js'
            %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
{% endblock %}
</html>