{% block sonata_security_roles_widget %}
    {% spaceless %}
        <div class="user-roles-list">
            <div class="editable">
                <h4>{{ 'field.label_roles_editable'|trans({}, "SonataUserBundle") }}</h4>
                {% spaceless %}
                    {% set attr = attr|merge({'class': attr.class|default('') ~ ' list-unstyled'}) %}
                    <ul {{ block('widget_container_attributes') }}>
                        {% for child in form %}
                            <li>
                                {{ form_widget(child, {'horizontal': false, 'horizontal_input_wrapper_class': ''}) }} {# {'horizontal': false, 'horizontal_input_wrapper_class': ''} needed to avoid MopaBootstrapBundle messing with the DOM #}
                            </li>
                        {% endfor %}
                    </ul>
                {% endspaceless %}
            </div>
            {% if read_only_choices|length > 0 %}
                <div class="readonly">
                    <h4>{{ 'field.label_roles_readonly'|trans({}, "SonataUserBundle") }}</h4>
                    <ul>
                        {% for choice in read_only_choices %}
                            <li>{{ choice }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock sonata_security_roles_widget %}
