{% if action == 'list' %}
    {% set btn_list_class = 'btn-info active' %}
    {% set btn_tree_class = 'btn-default' %}
{% else %}
    {% set btn_list_class = 'btn-default' %}
    {% set btn_tree_class = 'btn-info active' %}
{% endif %}

<ul class="nav navbar-nav navbar-left">
    <li>

        <div class="btn-group" style="margin-top: 6px;margin-right: 15px">
            <a type="button"
               class="btn {{ btn_list_class }}"
               href="{{ admin.generateUrl('list', {  }) }}"
            >
                <i class="fa fa-list"></i>
                {{ 'list_tab_menu.list_mode'|trans({}, 'SonataAdminBundle') }}
            </a>

            <a type="button"
               class="btn {{ btn_tree_class }}"
               href="{{ admin.generateUrl('tree') }}"
            >
                <i class="fa fa-sitemap"></i>
                {{ 'list_tab_menu.tree_mode'|trans({}, 'SonataAdminBundle') }}
            </a>
        </div>

    </li>
</ul>
{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

