{% block block %}

    <h1>{{ block.page.name }}</h1>

    <div class="col-lg-7 col-md-6">
        {{ settings.contacts.mapscode }}
    </div>
    <div>
        {{ settings.contacts.address | raw }}
    </div>

    <div>
        {{ settings.contacts.worktime | raw }}
    </div>
    <div>
        {{ settings.contacts.phone }}
    </div>
    <div>
        <a href="mailto:{{ settings.contacts.email }} "> {{ settings.contacts.email }} </a>
    </div>



    <div>{{ settings.contacts.bankprops }}</div>



    <div class="col-md-6">
        <h2>Как добраться на авто:</h2>
        {{ settings.contacts.carinstruction }}

    </div>
    <div class="col-md-6">
        <h2>Как добраться своим ходом:</h2>
        {{ settings.contacts.walkinstruction }}
    </div>

    {{ sonata_block_render({
        'type': 'compo_contacts.block.service.feedback_form',
        'settings': {
            'type': 'feedback'
        }
    }) }}

{% endblock %}