{% extends 'CompoCoreBundle:Emails:base.html.twig' %}

{% block hello %}
    Здравствуйте, {{ feedback.name }}!
{% endblock %}

{% block fabula %}
    Спасибо за обращение. Мы получили ваше сообщение.<br/>
    Наш специалист свяжется с вами в ближайшее время.
{% endblock %}

{% block preambula %}
    <div>
        <b>
            Номер сообщения:
        </b>
        <span>
            {{ feedback.id }}
        </span>
    </div>

    <div>
        <b>
            Дата сообщения:
        </b>
        <span>
            {{ feedback.createdAt|date('d.m.Y H:i:s') }}
        </span>
    </div>

    <div>
        <b>
            Имя:
        </b>
        <span>
            {{ feedback.name }}
        </span>
    </div>

    <div>
        <b>
            E-mail:
        </b>
        <span>
            {{ feedback.email }}
        </span>
    </div>

    <div>
        <b>
            Телефон:
        </b>
        <span>
            {{ feedback.phone }}
        </span>
    </div>

    <div>
        <b>
            Текст сообщения:
        </b>
        <span>
            {{ feedback.message }}
        </span>
    </div>
{% endblock %}