{# @var article \Compo\FaqBundle\Entity\Faq #}
{#
{{ block('header') }}
{{ block('description') }}
{{ block('list') }}
{{ block('list_item') }}
{{ block('thumbnail') }}
{{ block('publication_at') }}
{{ block('header_item') }}
{{ block('description_item') }}
{{ block('pagination') }}
{{ block('no_found_faq') }}
#}

{% block content %}
    <div class="main-content">
    <div class="container">


<div class="content-block faq-index">

        <div class="row">
            <div class="col-lg-12">
                {% block header %}
                    <h1>
                        {{ compo_seo_header() }}
                    </h1>
                {% endblock %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                {% block description %}
                    <div>
                        {{ compo_seo_description() }}
                    </div>
                {% endblock %}
            </div>
        </div>

        {% block list %}
            <div class="faq">
                {% for article in pager %}
                    {% block list_item %}

                        <div class="faq__item">
                            <div class="faq__date">
                                {{ article.publicationAt|date("d.m.Y") }}
                            </div>
                            <div class="faq__title">
                                <span>{{ article.name }}</span>
                            </div>
                        </div>



                    {% endblock %}
                {% else %}
                    {% block no_found_faq %}
                        {{ 'no_found_faq'|trans({}, 'CompoFaqBundle') }}
                    {% endblock %}
                {% endfor %}
            </div>
        {% endblock %}

        <div class="pagination-block pagination-wrap">
            <div class="row">
                <div class="col-lg-12 clearfix">
                    {% block pagination %}
                        <div>
                            {{ knp_pagination_render(pager, null, {}, {'pagination_class': 'pagination'}) }}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>
{% endblock %}