<div class="news-index">
    {% block breadcrumb %}
        {{ sonata_block_render_event('breadcrumb', { 'context': 'news' }) }}
    {% endblock %}

    {% block header %}
        <div class="header-block">
            <div class="row">
                <div class="col-lg-12">
                    <div itemscope="" itemtype="http://schema.org/Thing" class="page-header">
                        <h1 itemprop="name">{{ compo_seo_header() }}</h1>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    <div class="news">
        {% for news in pager %}
            <div class="item row">
                <div class="col-lg-3 photo">
                    <a href="{{ path('compo_news_show_by_slug', {'slug': news.slug}) }}" class="thumbnail">
                        <img src="{% path news.image, 'small' %}" width="150" alt="{{ news.name }}">
                    </a>
                </div>

                <div class="col-lg-9 meta">

                    <div class="date pull-right">{{ news.publicationAt|date("d.m.Y") }}</div>

                    <div class="header pull-left"><a href="{{ path('compo_news_show_by_slug', {'slug': news.slug}) }}">{{ news.name }}</a></div>

                    <div class="ui-helper-clearfix"></div>

                    <div class="anons"><p>{{ news.description|raw }}</p></div>

                </div>
            </div>
        {% else %}
            {{ 'no_found_news'|trans({}, 'CompoNewsBundle') }}
        {% endfor %}
    </div>

    <div class="pagination-wrap">
        <div class="row ">
            <div class="col-lg-12 clearfix pagination-block">
                <div>
                    {{ knp_pagination_render(pager, null, {}, {'pagination_class': 'pagination'}) }}
                </div>
            </div>
        </div>
    </div>

</div>