{% extends '@SonataAdmin/Core/tab_menu_template.html.twig' %}

{% block dropdownElement %}
    {% import "knp_menu.html.twig" as macros %}
    {%- set classes = item.linkAttribute('class') is not empty ? [item.linkAttribute('class')] : [] %}
    {%- set classes = classes|merge(['dropdown-toggle']) %}
    {%- set attributes = item.linkAttributes %}
    {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
    {%- set attributes = attributes|merge({'data-toggle': 'dropdown'}) %}

    {% if item.uri %}

        <a href="{{ item.uri }}" >
            {% if item.attribute('icon') is not empty  %}
                <i class="{{ item.attribute('icon') }}"></i>
            {% endif %}
            {{ block('label') }}
        </a>
        <a href="#" {{ macros.attributes(attributes) }}>
            <b class="caret"></b>
        </a>

    {% else %}
        <a href="#"{{ macros.attributes(attributes) }}>
            {% if item.attribute('icon') is not empty  %}
                <i class="{{ item.attribute('icon') }}"></i>
            {% endif %}
            {{ block('label') }}
            <b class="caret"></b>
        </a>
    {% endif %}
{#
    <div class="btn-group">
        <button type="button" class="btn btn-danger">Action</button>
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
#}

{% endblock %}
