{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasAccess('create') and admin.hasRoute('create') %}
    {% if admin.subClasses is empty %}
        {% set label = label|default('action.link_create') %}

        <a class="sonata-action-element" href="{{ admin.generateUrl('create') }}">
            <i class="fa fa-plus" aria-hidden="true"></i>
            {{ label|trans({}, admin.translationDomain) }}</a>
    {% else %}
        <li class="divider" role="presentation"></li>
        {% set label = label|default('action.link_create') %}

        {% for subclass in admin.subclasses|keys %}

            <li>
                <a href="{{ admin.generateUrl('create', {'subclass': subclass}) }}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {{ label|trans({}, admin.translationDomain) }} {{ subclass|trans({}, admin.translationdomain) }}
                </a>
            </li>
        {% endfor %}
        <li class="divider" role="presentation"></li>
    {% endif %}
{% endif %}
