<div id="content">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">

            {% block content_top_global %}
                {{ sonata_page_render_container('content_top', 'global') }}
            {% endblock %}

            {% block content_top_page %}
                {% if page is defined %}
                    {{ sonata_page_render_container('content_top', page) }}
                {% endif %}
            {% endblock %}

            {% block content_page %}
                <div id="content_page">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            {% block breadcrumb %}
                                {% if app.request.requestUri != '/' %}
                                    {% if sonata_seo_context is not defined %}
                                        {% if app.request.get('_route') == 'page_slug' %}
                                            {% set sonata_seo_context = 'page' %}
                                        {% else %}
                                            {% set sonata_seo_context = app.request.get('_route') %}
                                        {% endif %}
                                    {% endif %}

                                    {{ sonata_block_render_event('breadcrumb', { 'context': sonata_seo_context, 'current_uri': app.request.requestUri }) }}
                                {% endif %}
                            {% endblock %}

                            {% if content is defined %}
                                {{ content|raw }}
                            {% else %}
                                {% set content = block('content') %}
                                {% if content|length > 0 %}
                                    {{ content|raw }}
                                {% elseif page is defined %}
                                    {{ sonata_page_render_container('content', page) }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block content_bottom_global %}
                {{ sonata_page_render_container('content_bottom', 'global') }}
            {% endblock %}

            {% block content_bottom_page %}
                {% if page is defined %}
                    {{ sonata_page_render_container('content_bottom', page) }}
                {% endif %}
            {% endblock %}

        </div>
    </div>

</div>